body {
    background-image: url("../images/dust_scratches/dust_scratches.png");
    margin: 0;
}

hr {
    background-color: #cccccc;
    border: 0;
    height: 3px;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

header #name {
    background-color: #842DCE;
    float: left;
    font: Georgia, Times, 'Times New Roman', serif;
    padding: 20px 40px;
}

header h1 {
    color: #ffffff;
    font-size: 30px;
    font: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

header nav {
    color: grey;
    float: right;
    font-size: 20px;
    font: Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
}

header nav a {
    color: #777777;
    margin: 0 18px;
    text-decoration: none;
}

section {
    margin-top: 100px;
}

#bio,
#contact,
#portfolio {
    background-color: #ffffff;
    color: #000000;
}

#bio .inside-content,
#contact .inside-content,
#portfolio .inside-content {
    border: 1px solid #dddddd;
    padding: 10px;
}

#message-group {
    padding-top: 20px;
}

#name {
    text-align: center;
}

#portfolio a {
    text-decoration: none;
}

#bio p {
    color: #777777;
    font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 30px;
    padding: 0;
}

#bio h1 {
    color: #842DCE;
    font-size: 30px;
}

#bio img {
    float: left;
    height: auto;
    padding: 20px;
    padding-left: 0;
    width: 300px;
}

#contact h1 {
    color: #842DCE;
    font-size: 30px;
}

#portfolio h1 {
    color: #842DCE;
    font-size: 30px;
}

img {
    border: 0;
    height: 150px;
    padding-bottom: 20px;
    width: 250px;
}

.images {
    float: left;
    padding-bottom: 20px;
    padding-right: 50px;
}

.button {
    background-color: #842DCE;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
}

#burgers,
#bamazon,
#liri,
#train,
#hangman,
#rpg,
#trivia,
#widget,
#rock {
    background-color: #842DCE;
    color: #ffffff;
    font-size: 25px;
    position: relative;
    text-align: center;
    top: -60px;
    width: 250px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #842DCE;
    color: #ffffff;
    font-size: 12px;
    padding-top: 40px;
    text-align: center;
}

input {
    width: 100%;
}

textarea {
    height: 150px;
    width: 100%;
}

label {
    color: #777777;
}

.container {
    background-color: #ffffff;
    overflow: hidden;
}

@media screen and (max-width: 640px) {
    header #name {
        float: none;
    }

    header nav {
        float: none;
        margin: 0;
        padding: 14px 0;
        text-align: center;
    }

    section {
        margin: 150px 20px 20px;
    }

    #bio,
    #contact,
    #portfolio {
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    header nav {
        padding-right: 22px;
    }

    section {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #bio,
    #contact,
    #portfolio {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    header nav {
        padding-right: 22px;
    }

    section {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 960px;
    }

    #bio,
    #contact,
    #portfolio {
        width: 670px;
    }
}

@media screen and (min-width: 981px) {
    header #header {
        margin: 0 auto;
        width: 960px;
    }

    section {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 960px;
    }

    #bio,
    #contact,
    #portfolio {
        width: 960px;
    }
}
